apiVersion: apps/v1
kind: Deployment
metadata:
  name: playground-deployment
spec:
  selector:
    matchLabels:
      app: playground
  replicas: 2
  template:
    metadata:
      labels:
        app: playground
    spec:
      containers:
      - name: playground
        image: wil42/playground:v2
        ports:
        - containerPort: 8888
---
apiVersion: v1
kind: Service
metadata:
  name: playground-service
spec:
  ports:
  - port: 8888
    targetPort: 8888
    protocol: TCP
  selector:
    app: playground